@font-face{font-family:'WF Sans';font-weight:300 700;src:local('Segoe UI'),local('SF Pro Display'),local('Helvetica Neue'),local('Arial')}
@font-face{font-family:'WF Display';font-weight:300 800;src:local('Segoe UI'),local('SF Pro Display'),local('Helvetica Neue'),local('Arial')}
@font-face{font-family:'WF Mono';font-weight:400 500;src:local('Cascadia Code'),local('SF Mono'),local('Consolas'),local('Monaco'),local('monospace')}

:root {
  --bg: #08090d;
  --card: #0f1015;
  --sidebar: #0b0c11;
  --input: #171820;
  --text: #e4e2dc;
  --sub: #76757a;
  --muted: #3e3d44;
  --border: #1c1d26;
  --accent: #d4a843;
  --abg: #d4a84318;
  --green: #10b981;
  --red: #ef4444;
  --blue: #6366f1;
  --purple: #8b5cf6;
  --orange: #f59e0b;
  --pink: #ec4899;
}

.light {
  --bg: #faf9f6;
  --card: #fff;
  --sidebar: #fff;
  --input: #eeeee8;
  --text: #1a1a1a;
  --sub: #6b6b6b;
  --muted: #aaa;
  --border: #e5e3dc;
  --abg: #d4a84312;
}
